name: Deploy Application

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "etape1 - initialisation"
      - run: echo "etape2 - Recuperation du code"
      - run: echo "etape3 - Build"
      - run: echo "etape4 - Tests"
      - run: echo "etape5 - Packaging"
      - run: echo "etape6 - Fin du pipeline"
